.flex-70 {
  flex: 0 0 70%;
  width: 70%;
}

.flex-30 {
  flex: 0 0 30%;
  width: 30%;
}

.hero-image {
  margin: 16px 20%;
  width: 60%;
}

.hero-avatar {
  width: 50%;
}

.cart.outlined {
  background: white;
  border: thin solid rgba(var(--primary-rgb), 0.1);
  box-shadow: none;
}

.card-image {
  width: 100%;
}

button.small {
  font-size: 0.75em;
}

button.x-small {
  font-size: 0.7em;
}

.shop-component {
  background: linear-gradient(to bottom, #fff 0%, #f3f7f7 100%);
}

.app-product-list {
  flex: 1 1 100%;
  /*min-height: calc(100vh - 64px);*/
}

.card.outlined {
  background: white;
  border: thin solid rgba(var(--primary-rgb), 0.1);
  box-shadow: none;
}
