# NOTE: This name appears in GitHub's Checks API and in workflow's status badge.
name: ci-lint

# Trigger the workflow when:
on:
  # A push occurs to one of the matched branches.
  push:
    branches:
      - main
      - stable/*
      - rc/*
  # Or when a pull request event occurs for a pull request against one of the
  # matched branches.
  pull_request:
    branches:
      - main
      - stable/*
      - rc/*

jobs:

  lint-rust:
    # NOTE: This name appears in GitHub's Checks API.
    name: lint-rust
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Set up Rust
        uses: actions-rs/toolchain@v1
        with:
          components: rustfmt, clippy

      - name: Install protoc
        run: sudo apt install -y protobuf-compiler

      - name: Clippy check
        uses: actions-rs/clippy-check@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: --all-features --locked -- -D warnings -D clippy::dbg_macro

      - name: Formatting check
        uses: actions-rs/cargo@v1
        with:
          command: fmt
          args: -- --check
